/**ESTO ES IMPORTANTE PARA EL PIE DE PAGINA**/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
*{
    background-color:#fab334 ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/**Esto de abajo es la fuente*/
    font-family: 'Fira Sans Condensed', sans-serif;
}
/**------------------------------------------------------*/
/*HEADER*/
.header{
    background: var(--color-header);
    width: 100%;
    height: 75px;
    display: flex;
    border-bottom: solid 2px var(--color-header-borde);
}

.header-logo{
    width: 30%;
}



.logo{
    object-fit: cover;
    height: 100%;
    padding: 20px 30px;

}

.nav{
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 50px;
}
.link{
    text-decoration: none;
    color: var(--color-texto-1);
    margin: 1% 3%;
    font-size: 1.2em;

}

.link:hover{
    text-decoration: none;
    color: var(--color-texto-3);
    

}
/**Hasta aca es el header**/



h1{
font-family: 'Fira Sans Condensed', sans-serif;
    padding-left: 2%;
}
h3{
font-family: 'Fira Sans Condensed', sans-serif;
    padding-left: 2%;
    font-weight:70%;
    color: #fff;
}

p{
font-family: 'Fira Sans Condensed', sans-serif;
    padding-left: 2%;
    font-weight:normal;
    font-size: 80%;
    color: #000000;
    text-shadow: none;
}
.p2{
    font-size: 10px;
}

.contenido1{
font-family: 'Fira Sans Condensed', sans-serif;
    padding-left: 2%;
}
.contenido1 h3{
    text-shadow: 0 0 2.5px #000000;
}

.a1{
    color:#000353;
    text-decoration: none;
    font-size: 10px;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
}



/** Para el pie de pagina **/
.pie-pagina{
    width: 100%;
    background-color: #fab334 ;
}

.pie-pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo1 .box figure{
    width: 100%;
    height: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo1 .box h2{
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo1 .box p{
    margin-bottom: 10px;
}
.pie-pagina .grupo1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #ec4912;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo1 .red-social a:hover{
    color: #fbff0d;
}
.pie-pagina .grupo2{
    background-color:#692000 ;
    padding: 15px 10px;
    text-align: center;
    color: white;
}
.pie-pagina .grupo2 small{
    font-size: 15px;
    background-color:#692000 ;
}
.pie-pagina .grupo2 small b{
    background-color:#692000 ;
}
