*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    font-family: 'Montserrat', sans-serif;
    padding-left: 2%;
}
h3{
    font-family: 'Montserrat', sans-serif;
    padding-left: 2%;
    font-weight:70%;
    color: #fff;
}

p{
    font-family: 'Montserrat', sans-serif;
    padding-left: 2%;
    font-weight:normal;
    font-size: 80%;
    color: #000000;
    text-shadow: none;
}
.p2{
    font-size: 10px;
}

.contenido1{
    font-family: 'Montserrat', sans-serif;
    padding-left: 2%;
}
.contenido1 h3{
    text-shadow: 0 0 2.5px #000000;
}

.a1{
    color:#000353;
    text-decoration: none;
    font-size: 10px;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
}



/** Para el pie de pagina **/
.container2{
    height: 95px;
    overflow: hidden;
    position: relative;
    margin: 0;
    text-decoration: none;
}

.container2 .p2{
    color: #000000;
    text-decoration: none;
    position:absolute;
    top: 600%;
    left: 50%;
    transform: translate(-50%, -5000%);
}
.img-2{
    width: 50px;
    height: 50px;
    margin-top: -50px;
    position: absolute;
    right: 50%;
}
